.entry {
  padding: 1.5rem;
}

.entry__link {
  text-decoration: none;
}

.entry__title {
  font-size: 1.9rem;
  line-height: 1.1;
}

.entry__desc {
  font-size: 1.1rem;
  max-width: 60ch;
}

.entry__link:hover .entry__title,
.entry__link:focus .entry__title {
  text-decoration: underline;
}

/* temp */
.entry img {
  max-width: 300px;
}
