<head>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#1a1a1a" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="Hold on to something." />
  <meta name="og:description" content="Hold on to something." />
  <meta name="twitter:description" content="Hold on to something." />

  <meta
    property="og:image"
    content="https://anthologies.co/static/img/social-default.png"
  />
  <meta
    name="twitter:image:src"
    content="https://anthologies.co/static/img/social-default.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:title" content="Anthologies" />
  <meta name="twitter:title" content="Anthologies" />

  <meta property="og:url" content="https://anthologies.co" />
  <meta name="twitter:url" content="https://anthologies.co" />

  <meta name="twitter:site" content="@anthologies" />
  <meta property="og:type" content="article" />

  <link rel="stylesheet" href="https://use.typekit.net/tcl2fpe.css" />
  <link href="/static/css/anthologies.css" rel="stylesheet" />

  <title>Anthologies</title>
</head>
